body {

    background-color: #04ADEA;
}

h1 {
    font-color: #AC2830;
    font-family: 'Joti One', cursive;
}


.navbar-brand  {
  margin-top: -25px;

}

#content {

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
}

article {

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}

nav {
    background-color: #04ADEA;

}

.jumbotron {
    height: 400px;
    /*background-color: #FBFBFB;*/
   /* background-image: url(../images/NinjaIcon.jpg);*/
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {

    border-color: #FBFBFB;
    border-style: 0px;
    display: inline-block;
    border-image: 0.1 solid color:#FBFBFB;
    width: 100px;
}

#gameButton {
    height: 50px;
    width: 200px;
    background-color: #B62482;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}

#inputName {
    border-style: solid 2px;
    border-color: #F35406;
    height: 50px;
    width: 950px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}

#inputEmail {
    border-style: solid 2px;
    border-color: #F35406;
    height: 50px;
    width: 950px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}

#inputCity {
    border-style: solid 2px;
    border-color: #F35406;
    height: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}

#inputState {
    border-style: solid 2px;
    border-color: #F35406;
    height: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}

#submitButton {
    height: 50px;
    width: 200px;
    background-color: #B62482
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}

.menuButton {

    display: inline-block;
    width: 150px;

}

#hurricaneButton{
    width:;
    background-color: #F35406
    
}

}

#menuButton2 {
    width: ;
    background-color: #EDCA27
    
}

#menuButton3 {
    width: ;
    background-color: #B62482
}

#menuButton4 {
    width: ;
    background-color: #3D886E
}

#hurricane {
    width: 400px;
}

.card-body {
    background-color: #FBFBFB;
    width: 250px;
    border-style: solid 2px;
    border-color: #F35406;
}

.card-body1 {
    background-color: #FBFBFB;
    height: 200px;
    border-style: solid 2px;
    border-color: #F35406;
}

.card-body2 {
    background-color: #FBFBFB;
    height: 200px;
    border-style: solid 2px;
    border-color: #F35406;
}

.card-body3 {
    background-color: #FBFBFB;
    height: 200px;
    border-style: solid 2px;
    border-color: #F35406;
}

.card-body4 {
    background-color: #FBFBFB;
    height: 200px;
    border-style: solid 2px;
    border-color: #F35406;
}

.hurricaneHeaderSidebar {
    height: :40px;
    width: 250px;
    background-color: #F35406
}

.fireHeaderSidebar {
    height: :40px;
    width: 250px;
    background-color: #EDCA27
}

.tornedoHeaderSidebar {
    height: :40px;
    width: 250px;
    background-color: #B62482
}

.explosionHeaderSidebar {
    height: :40px;
    width: 250px;
    background-color: #3D886E
}

#hero1 {
    width: 100px;
    height:115px;
    display: inline-block;
}

#hero2 {
    width: 100px;
    height:115px;
    display: inline-block;
}

#hero3 {
    width: 100px;
    display: inline-block;
}

#hero4 {
    width: 100px;
    height:115px;
    display: inline-block;
}

#hero5 {
    width: 100px;
    height:115px;
    display: inline-block;
}

.card-body1 {
    width: 250px

}

.card-body2 {
    width: 250px

}

.card-body3 {
    width: 250px

}

.card-body4 {
    width: 250px

}

.card-body5 {
    width: 250px

}

#avatarSelector {
	display: inline-block;
 background-color: #FBFBFB

}

.form-check{
	display: inline-block;
}

.gameBackground {
	width:600px;
	height: 600px
}

.carousel{
	margin-left: 285px;
	margin-top: -280px;
	margin-right: -150px;
	width: 590px;
    background-color: #FBFBFB;
 }

.card-deck {
    margin-left: 910px;
    margin-top: -270px;
    width:200px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}

.card-img-top {
    width: 40px;
}

.card-title {
    margin-left: 5px;
    margin-right: 5px;

}

.card-card-body {
    background-color:#C0C0C0
}

.card-text {

    height: 50px;
}

.custom-radio{
    margin-left: 400px;
    margin-top: -90px;
}

#Question1 {
    margin-left:295px;
    margin-top: -100px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}

#Question2 {
    margin-left:295px;
    margin-top: -430px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;

}

#Question3 {
    margin-left:295px;
    margin-top: -360px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;

}

#Question4 {
    margin-left:295px;
    margin-top: -290px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;

}

#Question5 {
    margin-left:295px;
   margin-top: -220px;
   font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;

}

#footerCard {
    width: 590px;
    margin-left:300px;
    margin-top: -490px;
    background-color: #FBFBFB;
      

}

.card-img {
    width: 200px;
  margin-left:180px;px;
}

.userScore {
     height: 200px;
}

.modalImage {
    width: 150px;
    margin-left:100px
}

.card-title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;

}

#Level1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;

}

#Level2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;

}

#Level3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;

}





