body {

    background-color: #04ADEA;
}

h1 {
    font-color: #AC2830;
    font-family: 'Joti One', cursive;
}


.navbar-brand  {
  margin-top: -25px;

}

main {

    font-family: font 'Indie Flower', cursive;
}

}

.jumbotron {
    height: 350px;
    /*background-color: #FBFBFB;*/
   /* background-image: url(../images/NinjaIcon.jpg);*/
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {

    border-color: #FBFBFB;
    border-style: 0px;
    display: inline-block;
    border-image: 0.1 solid color:#FBFBFB;
    width: 100px;
}

#gameButton {
    height: 50px;
    width: 200px;
    background-color: #3D886E
}

#inputName {
    border-style: solid 2px;
    border-color: #F35406;
    height: 50px;
    width: 950px;
}

#inputEmail {
    border-style: solid 2px;
    border-color: #F35406;
    height: 50px;
    width: 950px;
}

#inputCity {
    border-style: solid 2px;
    border-color: #F35406;
    height: 50px;
}

#inputState {
    border-style: solid 2px;
    border-color: #F35406;
    height: 50px;
}

#submitButton {
    height: 50px;
    width: 200px;
    background-color: #B62482
}

#hurricane-button {
    width: 150px;
    background-color: #F35406
}

#fire-button {
    width: 150px;
    background-color: #EDCA27
}

#tornedo-button {
    width: 150px;
    background-color: #B62482
}

#explosion-button {
    width: 150px;
    background-color: #3D886E
}

#hurricane {
    width: 400px;
}

.card-body {
    background-color: #FBFBFB;
    width: 250px;
    border-style: solid 2px;
    border-color: #F35406;
}

.card-body1 {
    background-color: #FBFBFB;
    height: 200px;
    border-style: solid 2px;
    border-color: #F35406;
}

.card-body2 {
    background-color: #FBFBFB;
    height: 200px;
    border-style: solid 2px;
    border-color: #F35406;
}

.card-body3 {
    background-color: #FBFBFB;
    height: 200px;
    border-style: solid 2px;
    border-color: #F35406;
}

.card-body4 {
    background-color: #FBFBFB;
    height: 200px;
    border-style: solid 2px;
    border-color: #F35406;
}

.hurricaneHeaderSidebar {
    height: :40px;
    width: 250px;
    background-color: #F35406
}

.fireHeaderSidebar {
    height: :40px;
    width: 250px;
    background-color: #EDCA27
}

.tornedoHeaderSidebar {
    height: :40px;
    width: 250px;
    background-color: #B62482
}

.explosionHeaderSidebar {
    height: :40px;
    width: 250px;
    background-color: #3D886E
}

#hero1 {
    width: 100px;
    height:115px;
    display: inline-block;
}

#hero2 {
    width: 100px;
    height:115px;
    display: inline-block;
}

#hero3 {
    width: 100px;
    display: inline-block;
}

#hero4 {
    width: 100px;
    height:115px;
    display: inline-block;
}

#hero5 {
    width: 100px;
    height:115px;
    display: inline-block;
}

.card-body1 {
    width: 250px

}

.card-body2 {
    width: 250px

}

.card-body3 {
    width: 250px

}

.card-body4 {
    width: 250px

}

.card-body5 {
    width: 250px

}

#avatarSelector {
	display: inline-block;
 background-color: #FBFBFB

}

.form-check{
	display: inline-block;
}

.gameBackground {
	width:600px;
	height: 600px
}

.carousel{
	margin-left: 300px;
	margin-top: -730px;
	margin-right: -150px;
	width: 560px;
    background-color: #FBFBFB;


}

.card-deck {
    margin-left: 910px;
    margin-top: -730px;
    width:350px;
}

.card-img-top {
    width: 50px;
}

.card-title {
    margin-left: 5px;
    margin-right: 5px;

}

.card-card-body {
    background-color:   #C0C0C0
}

.card-text {

    height: 50px;
}

.custom-radio{
    margin-left: 400px;
    margin-top: -90px;
}

#Question1 {
    margin-left:295px;
    margin-top: -500px;
}

#Question2 {
    margin-left:295px;
    margin-top: -430px;

}

#Question3 {
    margin-left:295px;
    margin-top: -360px;

}

#Question4 {
    margin-left:295px;
  margin-top: -290px;

}

#Question5 {
    margin-left:295px;
   margin-top: -220px;
*/
}
