<h1>login</h>
<form action="/api/login" method="post">
<div class="form-row">
    <div class="col-md-4">
         <label for="inputName">
         <h4>Name</h4></label>
        <input type="text" class="form-control" placeholder="name">
    </div>
<div class="col-md-4">
    <label for="inputPassword">
    <h4>Password</h4></label>
    <input type="text" class="form-control" placeholder="password">
</div>
</div>
<button type="submit" class="btn btn-primary">Sign in</button>
</form>
<br>
<br>
<button type="submit" class="btn btn-primary">Sign in</button>   