<h1>question</h>
<form action="/api/question" method="post">
<div class="form-group">
	<label for="exampleFormControlSelect1"><h4>Question 6: What supplies will I need?</h4></label>
	<select class="form-control" id="exampleFormControlSelect6">
		<option>Choose your answer</option>
		<option>1. My Toothbrush and change of clothes.</option>
		<option>3. I will need answers 2 and 3 in my emergency supply kit. </option>
		<option>3. Food and Water.</option>
		
</select>
</div>

<div class="form-group">
	<label for="exampleFormControlSelect1"><h4> Question 7: How do we know where to go?</h4></label>
	<select class="form-control" id="exampleFormControlSelect7">
		<option>Choose your answer</option>
		<option>1. Listening to announcements on TV for what to do.</option>
		<option>2. The best thing is to stay home no matter what.</option>
		<option>3. We really want know where to go.</option>
		</select>
</div> 

<div class="form-group">
	<label for="exampleFormControlSelect1"><h4> Question 8: What are hurricane escape routes?</h4></label>
	<select class="form-control" id="exampleFormControlSelect8">
		<option>Choose your answer</option>
		<option>1. A hurricane escape route are highway or roads in the US that is a specified route for hurricane evacuation.</option>
		<option>2. A hurricane escape route is the way to my house.</option>
		<option>2. A hurricane escape route is a route you create yourself when there is a hurricane.</option>
</select>
</div>
</form>

